:root {
  --cor01: rgb(149,81,228);
  --cor02: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

h1 {
  grid-column: 1 / 5;
  text-align: start;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: var(--cor01);
  color: #fff;
  padding: 15px;
}

#input-area {
  overflow-y: scroll;
  padding: 15px;
  height: calc(100% + 30px);
}

#input-area > p {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--cor02);
  margin-bottom: 15px;
}

.control-item {
  border-bottom: .5px solid #aaaaaa;
  padding: 0 0 5px 10px;
  margin: 10px 0;
  position: relative;
}

.control-item:last-child {
  border: none;
  margin-bottom: 0;
}

.control-item  p {
  font-size: .975rem;
  color: var(--cor02);
}

.control-item input {
  width: 70%;
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 10px;
}

.control-item input::-webkit-slider-runnable-track {
  height: 2px;
  background: #888;
  border: none;
  border-radius: 3px;
}

.control-item input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--cor01);
  margin-top: -5px;
}

.control-item .control-num {
  position: absolute;
  left: 80%;
  bottom: 10px;
  font-weight: bold;
}

#element-area {
  width: 100%;
  height: 100%;
  grid-column: 2/5;
  background-color: #e4e2e2;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

#area-of-element {
  grid-row: 1/6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#element {
  height: 250px;
  width: 250px;
  background-color: var(--cor01);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#output-area {
  background-color: #aaaaaa;
  position: relative;
}

#output-area textarea {
  padding: 20px;
  font-family: monospace;
  color: #444;
  height: 100%;
  width: 90%;
  position: relative;
  background-color: #aaaaaa;
  border: none;
}

#output-area textarea:focus-within {
  outline: none;
  border: none;
}

#button-area {
  padding: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 40px;
  height: 55px;
  width: 55px;
}

#output-area button {
  transition: .4s cubic-bezier(0.215, 0.610, 0.355, 1);
  position: absolute;
  border: none;
  background-color: var(--cor01);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#output-area #button-area:hover button {
  bottom: 10px;
  right: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}

#output-area button i {
  color: #fff;
  font-size: 1.25rem;
  padding: 5px;
}

footer {
  grid-column: 2/5;
  background-color: var(--cor02);
  height: 30px;
  width: 100%;
  color: #fff;
  font-size: 0.675rem;
  padding: 3px;
}

footer p {
  text-align: center;
}

footer p a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer p a:hover {
  text-decoration: underline;
}